apiVersion: apps/v1
kind: Deployment
metadata:
  name: notes-app
spec:
  replicas: 1

  selector:
    matchLabels:
      app: notes-app

  template:
    metadata:
      labels:
        app: notes-app

    spec:
      containers:
      - name: notes-app
        image: cnappacr2026.azurecr.io/notes-app:latest
        imagePullPolicy: Always

        ports:
        - containerPort: 5000
