<!DOCTYPE html>
<html>
<head>
  <title>Notes App</title>
</head>
<body>
  <h1>Notes hello swaraj App</h1>

  <input type="text" id="noteInput" placeholder="Write a note">
  <button onclick="addNote()">Add Note</button>

  <h2>Notes:</h2>
  <ul id="notesList"></ul>

  <script>
    async function loadNotes() {
      const res = await fetch(`/notes`);
      const notes = await res.json();

      const list = document.getElementById("notesList");
      list.innerHTML = "";

      notes.forEach(note => {
        const li = document.createElement("li");
        li.textContent = note.text;
        list.appendChild(li);
      });
    }

    async function addNote() {
      const input = document.getElementById("noteInput");
      const text = input.value;

      if (!text) return;

      await fetch(`/notes`, {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ text })
      });

      input.value = "";
      loadNotes();
    }

    loadNotes();
  </script>
</body>
</html>
